.header {
    background-color: var(--accent-color);
}

.header__nav {
    padding: 5px;
}

.header__title,
.header__logo {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.header__menu {
    display: flex;
    flex-direction: column;

    .menu__item {
        text-decoration: none;
        color: var(--text-color);
    }

    .menu__item:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

@media (min-width: 600px) {

    .header__nav {
        display: flex;
    }

    .header__menu {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex: 1;
    }
}

.header__banner {
    background:
        linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ),
        url(../img/baby-yoda.svg);
    background-size: cover;
    min-height: 500px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header__title {
    color: var(--accent-color);
}
